@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.app{
  max-width: 60em;
  margin:1em auto;

}
.venues{
  display: flex;
  flex-wrap:wrap;
}
.venue{
  margin:0.5em;
  flex: 1 0 15em;
  border: none;
  background-color: tan;
}
.venue-name{
  color: rgba(38,113,127, 1);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

.venue-type{
  background-color: rgba(219,92,67, 1);
  padding:0.5em;
  margin-right:0.5em;
  color:white;
  
}
.venue-filters{
  margin-top: 1em;
  text-align: center;
}

.venue-filter,.venue-filter:hover{
  background-color: white;
  color:rgba(219,92,67, 1);
  font-weight: bold;
  border:thin rgba(219,92,67, 1) solid !important;
}
.venue-filter.active{
  background-color: rgba(219,92,67, 1) !important;
  color:white;
  font-weight: bold;
}

.venue-popup-body img{
  display: block;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}


